body {
    background-image: url("Images/Fabric.jpg");
}

.content {
    max-width: 980px;
    margin: auto;
    
  }
  
.footer {
    background-color:white;
    text-align: center;
   padding: 20px;
   max-width: 980px;
   margin: auto;
}

nav {
    margin-bottom: 20px;
    padding: 5px;
    

}
 .navbar{
     padding: 20px;
    
 }

.bg-light {
    background-color: white;
}

h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
.text-block {
        position: absolute;
        left: 50px;
        background-color:rgb(74,170,165);
        color: white;
        padding: 1px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        text-align: center;
    }

h3 {
        color:rgb(74,170,165);
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-weight: 900;
    }

 section {  
    border: 1px solid lightgray;
    background-color: white;
    margin: 50px;
    float:left;
}
.left {
    float:left;
    padding: 0 10px 0 0;
}
































/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/